.card {
  color: #ff682b;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  background: #fde3d4;
  border: 1px solid #ff682b;
  box-sizing: border-box;
  text-align: center;
  width: 68px;
  height: 32px;
  border-radius: 100px;
  display: flexbox;
  margin-left: 8px;
  margin-right: 5px;
}

.card:hover {
  background-color: #1890ff;
  color: #ffffff;
  border: 1px solid #1890ff;
  transition: background-color 0.2s ease-out;
}

.table {
  animation: appear 0.175s ease-in forwards;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
