.main {
  margin: 8px;
  display: inline;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: #ffffff;
}

.list {
  margin-top: 8px;
  margin-left: 20px;
}

.logo {
  text-align: center;
  padding: 15px;
}
