.header {
  width: 100%;
  height: 325px;
  background-color: #ff682b;
  position: fixed;
}

.expand {
  height: 275;
}

.title {
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.btn {
  margin-top: 25px;
  padding-left: 18px;
  cursor: pointer;
}

.orange {
  color: #ff682b;
}

.white {
  color: #ffffff;
}

.date {
  margin: 22px 22px;
  margin-top: -155px;
}

.textDate {
  font-weight: bold;
  font-size: 26px;
  color: #ffffff;
}

.content {
  margin: 0px 22px 0px 22px;
}

.card {
  margin: 22px 22px;
  background-color: #ffffff;
  height: 84px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
