.header {
  width: 100%;
  height: 75px;
  background-color: #ff682b;
  position: fixed;
  z-index: 1;
}

.expand {
  height: 275;
}

.title {
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.btn {
  margin-top: 25px;
  padding-left: 18px;
  cursor: pointer;
}

.orange {
  color: #ff682b;
}

.white {
  color: #ffffff;
}

.date {
  margin: 22px 22px;
  margin-top: -155px;
}

.textDate {
  font-weight: bold;
  font-size: 26px;
  color: #ffffff;
}

.content {
  margin: 0px 22px 0px 22px;
}
