@import '~antd/dist/antd.css';

a {
  color: inherit;
}
a:hover {
  color: inherit;
}

/* antd overrides */

.ant-scrolling-effect {} 

/* steps */
.ant-steps-horizontal.ant-steps-label-horizontal {
  display: flex;
}

.ant-steps-item-title::after {
  position: absolute;
  top: 16px;
  left: 100%;
  display: block !important;
  width: 9999px;
  height: 1px;
  background: #e8e8e8;
  /* content: ""; */
}

/* input */
.ant-input {
  border: 0px solid white;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: none;
  border-radius: 0px;
  font-size: 16px;
  line-height: 22px;
}
.ant-input:hover {
  box-shadow: none;
  border-color: none;
  border: none;
  border-bottom: 2px solid #d9d9d9;
}
.ant-input:focus {
  box-shadow: none;
  border-color: none;
  border: none;
  border-bottom: 2px solid #d9d9d9;
}

.has-error .ant-input:focus {
  border-right-width: none;
  box-shadow: none;
}

/* select components */
.ant-select-selection {
  border: 0px solid white;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: none;
  border-radius: 0px;
  font-size: 16px;
  line-height: 22px;
}
.ant-select-selection:hover {
  box-shadow: none;
  border-color: none;
  border: none;
  border-bottom: 2px solid #d9d9d9;
}
.ant-select-selection:focus {
  box-shadow: none;
  border-color: none;
  border: none;
  border-bottom: 2px solid #d9d9d9;
}

/* Time Picker */
.ant-time-picker-input {
  border: 0px solid white;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: none;
  border-radius: 0px;
  font-size: 16px;
  line-height: 22px;
}

/* .ant-select-selection--single {
  padding-left: 8px;
}
.ant-select-selection__placeholder {
  color: #ff682b;
}
.ant-select-arrow-icon svg{
  color: #ff682b; 
} */
