.overview {
  border: 1px solid #fbbe9b;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
}

.status {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-top: 6px;
}

.statusBadge {
  font-size: 16px;
  text-align: center;
}

.overviewStudentIds {
  margin: 0px;
  margin-left: 12px;
  font-size: 16px;
  line-height: 28px;
  color: #ff682b;
}

.studentId {
  margin-bottom: 0px;
  margin-left: 6px;
  color: #666666;
}

.info p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #666666;
  padding: 0px;
  margin: 0px;
}
.info {
  margin: 12px;
}
.icon {
  height: 12px;
  margin-top: -3px;
  margin-left: 3px;
}
